{% extends 'base.html' %}

{% block content %}

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Inventory</a>
          </div>
          <ul class="nav navbar-nav" style="float:right">
          
    <li class=" nav-item"><a href="/">Report</a></li>
          <li><a class="nav-item" href="products">Products</a></li>
          <li  class="active" ><a class="nav-item" href="location">Locations</a></li>
          <li><a class="nav-item" href="transfers">Transfers</a></li>
       
          </ul>
        </div>
      </nav> 
      <div class="container">
    
    <h2> List of Locations</h2>
    <div style="float:right">
        <a href="#addModal" class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal"><i class="zmdi zmdi-plus"></i> <span>Add New Location</span></a>
    </div>
    <br>
    <div class="row m-t-30">
        <div class="col-md-12">
            <!-- DATA TABLE-->
            <div class="table-responsive m-b-40">
                <table class="table table-borderless table-data3">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Location</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        {% for i in locationn %}
                        <tr>
                            <td>{{ i['location_id'] }}</td>
                            <td>{{ i['location_name'] }}</td>
                            <td>
                                <a href="#editModal" class="edit" data-toggle="modal"><i class="zmdi zmdi-edit zmdi-hc-lg" data-toggle="tooltip" title="Edit"> &nbsp;</i> </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- END DATA TABLE-->
        </div>
    </div>
</div>
<div id="addModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post">
				<div class="modal-header">						
					<h4 class="modal-title">Add Location</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Name</label>
						<input type="text" name="location_name" class="form-control" value="{{ request.form['location_name'] }}" required>
					</div>
									
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-success" value="Add">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}